In [1]:
# importing the necessary libraries
import pandas as pd
import numpy as np

In [2]:
# Loading and reading in the training set tables as dataframes
features_df = pd.read_csv('training_set_features.csv')

target_df = pd.read_csv('training_set_labels.csv')

In [4]:
# Display the first 5 rows of both dataframes
features_df.head()

,respondent_id,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,Below Poverty,Not Married,Own,Not in Labor Force,oxchjgsf,Non-MSA,0.0,0.0,NaN,NaN
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,Below Poverty,Not Married,Rent,Employed,bhuqouqj,"MSA, Not Principle City",0.0,0.0,pxcmvdjn,xgwztkwe
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Not Married,Own,Employed,qufhixun,"MSA, Not Principle City",2.0,0.0,rucpziij,xtkaffoo
3,3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,Below Poverty,Not Married,Rent,Not in Labor Force,lrircsnp,"MSA, Principle City",0.0,0.0,NaN,NaN
4,4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,"<= $75,000, Above Poverty",Married,Own,Employed,qufhixun,"MSA, Not Principle City",1.0,0.0,wxleyezf,emcorrxb

In [5]:
target_df.head()

   respondent_id  h1n1_vaccine  seasonal_vaccine
0              0             0                 0
1              1             0                 1
2              2             0                 0
3              3             0                 1
4              4             0                 0

In [6]:
# merge both dataframes on the 'respondent_id' column
df = pd.merge(target_df,features_df, on='respondent_id')

In [8]:
#read the first 5 rows of the new dataframe 
df.head()

,respondent_id,h1n1_vaccine,seasonal_vaccine,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
0,0,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Below Poverty,Not Married,Own,Not in Labor Force,oxchjgsf,Non-MSA,0.0,0.0,NaN,NaN
1,1,0,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,...,Below Poverty,Not Married,Rent,Employed,bhuqouqj,"MSA, Not Principle City",0.0,0.0,pxcmvdjn,xgwztkwe
2,2,0,0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Not Married,Own,Employed,qufhixun,"MSA, Not Principle City",2.0,0.0,rucpziij,xtkaffoo
3,3,0,1,1.0,1.0,0.0,1.0,0.0,1.0,1.0,...,Below Poverty,Not Married,Rent,Not in Labor Force,lrircsnp,"MSA, Principle City",0.0,0.0,NaN,NaN
4,4,0,0,2.0,1.0,0.0,1.0,0.0,1.0,1.0,...,"<= $75,000, Above Poverty",Married,Own,Employed,qufhixun,"MSA, Not Principle City",1.0,0.0,wxleyezf,emcorrxb

In [15]:
df.shape

(26707, 38)

In [27]:
# retrieve the number of unique values and datatypes in each column

# initiate an empty dictionary
unique_dict = {}

# populate the dictionary with each column name as key and the number of unique values and datatype tied in as 
# as list of values using a 'for' loop
for x in df.columns:
    unique_dict[x] = [df[x].nunique(), str(df[x].dtype)]

In [28]:
unique_dict

{'respondent_id': [26707, 'int64'],
 'h1n1_vaccine': [2, 'int64'],
 'seasonal_vaccine': [2, 'int64'],
 'h1n1_concern': [4, 'float64'],
 'h1n1_knowledge': [3, 'float64'],
 'behavioral_antiviral_meds': [2, 'float64'],
 'behavioral_avoidance': [2, 'float64'],
 'behavioral_face_mask': [2, 'float64'],
 'behavioral_wash_hands': [2, 'float64'],
 'behavioral_large_gatherings': [2, 'float64'],
 'behavioral_outside_home': [2, 'float64'],
 'behavioral_touch_face': [2, 'float64'],
 'doctor_recc_h1n1': [2, 'float64'],
 'doctor_recc_seasonal': [2, 'float64'],
 'chronic_med_condition': [2, 'float64'],
 'child_under_6_months': [2, 'float64'],
 'health_worker': [2, 'float64'],
 'health_insurance': [2, 'float64'],
 'opinion_h1n1_vacc_effective': [5, 'float64'],
 'opinion_h1n1_risk': [5, 'float64'],
 'opinion_h1n1_sick_from_vacc': [5, 'float64'],
 'opinion_seas_vacc_effective': [5, 'float64'],
 'opinion_seas_risk': [5, 'float64'],
 'opinion_seas_sick_from_vacc': [5, 'float64'],
 'age_group': [5, 'object'],
 'education': [4, 'object'],
 'race': [4, 'object'],
 'sex': [2, 'object'],
 'income_poverty': [3, 'object'],
 'marital_status': [2, 'object'],
 'rent_or_own': [2, 'object'],
 'employment_status': [3, 'object'],
 'hhs_geo_region': [10, 'object'],
 'census_msa': [3, 'object'],
 'household_adults': [4, 'float64'],
 'household_children': [4, 'float64'],
 'employment_industry': [21, 'object'],
 'employment_occupation': [23, 'object']}

In [9]:
# retrieve null value information from the dataframe

df.isnull().sum()

respondent_id                      0
h1n1_vaccine                       0
seasonal_vaccine                   0
h1n1_concern                      92
h1n1_knowledge                   116
behavioral_antiviral_meds         71
behavioral_avoidance             208
behavioral_face_mask              19
behavioral_wash_hands             42
behavioral_large_gatherings       87
behavioral_outside_home           82
behavioral_touch_face            128
doctor_recc_h1n1                2160
doctor_recc_seasonal            2160
chronic_med_condition            971
child_under_6_months             820
health_worker                    804
health_insurance               12274
opinion_h1n1_vacc_effective      391
opinion_h1n1_risk                388
opinion_h1n1_sick_from_vacc      395
opinion_seas_vacc_effective      462
opinion_seas_risk                514
opinion_seas_sick_from_vacc      537
age_group                          0
education                       1407
race                               0
sex                                0
income_poverty                  4423
marital_status                  1408
rent_or_own                     2042
employment_status               1463
hhs_geo_region                     0
census_msa                         0
household_adults                 249
household_children               249
employment_industry            13330
employment_occupation          13470
dtype: int64

'health_insurance', ''employment_industry' and 'employment_occupation' columns have large numbers of missing values.

In [12]:
df['employment_occupation'].isnull().sum() / len(df['employment_occupation'])

0.5043621522447298

A little more than 50% of the 'employment_occupation' column is missing